<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <adminpayment>
                <active>0</active>
                <model>CustomGento\AdminPayment\Model\Payment\AdminPayment</model>
                <order_status>pending</order_status>
                <title>CustomGento Admin Payment</title>
            </adminpayment>
        </payment>
    </default>
</config>
